.node {
  font: 300 11px "Helvetica Neue", Helvetica, Arial, sans-serif;
  fill: #bbb;
}

.node:hover {
  fill: #000;
}

.link {
  stroke: steelblue;
  stroke-opacity: 0.4;
  fill: none;
  pointer-events: none;
}

/* SigmaJS network related style*/
#sigma-container{
  height: 60%;
  text-align: left;
}
.node:hover,
.node--source,
.node--target {
  font-weight: 700;
}

.node--source {
  fill: #2ca02c;
}

.node--target {
  fill: #d62728;
}

.link--source,
.link--target {
  stroke-opacity: 1;
  stroke-width: 2px;
}

.link--source {
  stroke: #d62728;
}

.link--target {
  stroke: #2ca02c;
}

/* Filtering menu related styles*/
.inactive-filter{
  color: blue;
  background-color: #666666!important;
}

.active-filter{
  color: red;
  background-color: #a3a3a3!important;
}
#filter-menu{
  cursor: pointer;
  text-align: left;
  vertical-align: top;
  height: 60%;
  overflow: scroll;
}
#filter-menu-list{
  list-style: none;
}

/* Common association div styles*/
#common-association{
  height: 20%;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 20px;
}

#common-association-list{
  list-style-type: none;
}

#common-association-list li{
  border-radius: 5px;
  margin-left: 20px;
}
#search-char{
  width: 25%;
}

#explore-char{
  color: whitesmoke;
}